frontend/node_modules/
frontend/dist/
frontend/.eslintcache
frontend/.vite/

backend/__pycache__/
backend/*.pyc
backend/.pytest_cache/
backend/venv/
backend/env/

.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
.DS_Store
Thumbs.db

.docker_data/
pg_data/
